body{
font-family:Arial;
margin:0;
}

header{
background:#333;
color:white;
padding:15px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:60px;
background:#f4f4f4;
}

button{
padding:10px;
background:green;
color:white;
border:none;
}